body {
  margin: 0;
  text-align: center;
  background-image: url(./images/worldBg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}


a{
  text-decoration: none;
  color: #211C42;
}

li{
  text-decoration: none;
  color: #211C42;
}
